<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Zachary Partal</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li {% if page.pageclass == 'homepage' %}class="active"{% endif %}>
                        <a href="/"><i class="icon-home icon-white"></i> Home</a>
                    </li>
                    <li {% if page.pageclass == 'about' %}class="active"{% endif %}>
                        <a href="/about/"><i class="icon-user icon-white"></i> About</a>
                    </li>
                    <li><a href="/assets/files/zpartalresume.pdf"><i class="icon-briefcase icon-white"></i> Resume</a></li>
                    <li class="dropdown-split-left {% if page.pageclass == 'projects' %}active{% endif %}">
                        <a id="project-dd" href="/projects/"><i class="icon-wrench icon-white"></i> Projects</a>
                    </li>
                    <!-- <li class="dropdown dropdown-split-right {% if page.pageclass == 'projects' %}active{% endif %}">
                        <a id="project-dd" href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="icon-wrench icon-white"></i> Projects <i class="icon-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="/projects/">Projects</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Windows 8 Apps</li>
                            <li><a href="/projects/#piano-fun">Piano Fun!</a></li>
                            <li><a href="/projects/#tic-tac-attack">Tic Tac Attack!</a></li>
                            <li><a href="/projects/#hangman-fun">Hangman Fun!</a></li><li class="divider"></li>
                            <li class="nav-header">Windows Phone</li>
                            <li><a href="#">Tip Calculator</a></li>
                            <li><a href="#">Dead Pixel Tester</a></li>
                            <li><a href="#">Unit Converter</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Other Projects</li>
                            <li><a href="#">Project Euler</a></li>
                            <li><a href="#">Website</a></li>
                        </ul>
                    </li> -->
                </ul>
                <ul class="nav pull-right">
                    <li><a href="mailto:contact@partal.me"><i class="icon-envelope icon-white"></i> Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>