

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.center { float: none; margin-left: auto; margin-right: auto; }

/* Squeeze projects dropdown together */
/*.navbar .nav > li.dropdown-split-right > a {
  padding-left: 7px;
}
.navbar .nav > li.dropdown-split-left > a {
  padding-right: 0;
}*/

/*.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
	color: #fff;
	background-color: rgba(0,0,0,0.05);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}*/

